{mode, max}.

{duration, 60}.

{concurrent, 16}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_bin_bigendian, {partitioned_sequential_int, 4000000}}}.

{value_generator, {fixed_bin, 1024}}.

{riakc_pb_ips, [
                {{127,0,0,1}, 10017}
               ]}.

{riakc_pb_replies, 1}.
{riakc_pb_bucket, <<"test4M">>}.

{operations, [{put, 1}]}.

