{cover_enabled, true}.
{erl_opts, [warnings_as_errors]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{deps, [
  {protobuffs, "0.6.*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "protobuffs-0.6.0"}}},
  {poolboy, ".*", {git, "git://github.com/devinus/poolboy", {branch, "master"}}}
       ]}.
