{require_otp_vsn, "20|21|22"}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {platform_define, "(?=^[0-9]+)(?!^17)", deprecated_now},
    {platform_define, "^19", deprecated_19},
    {platform_define, "^20", deprecated_19},
    {platform_define, "^21", deprecated_19},
    {platform_define, "^22", deprecated_19}
]}.

{deps, [
    {riak_pb, {git, "https://github.com/basho/riak_pb", {branch, "mas-i1775-fetchclocksmodrange"}}}
]}.

{edoc_opts, [
    {stylesheet_file, "priv/edoc.css"},
    {preprocess, true}
]}.

{clean_files, ["doc/*.html", "doc/*.png", "doc/edoc-info", "doc/*.css"]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions,
               locals_not_used]}.
