{require_otp_vsn, "R15|R16|17|18|19|20"}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {platform_define, "(?=^[0-9]+)(?!^17)", deprecated_now},
    {platform_define, "(?!^19)(?!^20)", deprecated_19}
]}.

{deps, [
    {riak_pb, "2\.3\.[0-9]+", {git, "https://github.com/basho/riak_pb", {tag, "2.3.2"}}}
]}.

{edoc_opts, [
    {dir, "edoc"},
    {stylesheet_file, "priv/edoc.css"},
    {preprocess, true}
]}.

{clean_files, ["doc/*.html", "doc/*.png", "doc/edoc-info", "doc/*.css"]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions,
               locals_not_used]}.
